@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
*:focus {
    outline: none;
}

body {
    position: relative;
    height: 100vh;
    font-family: 'Noto+Sans+SC' ;
}
/*Navigation bar Bar container*/
.topnav-container{
    position: static;
    top: 0;
    width: 100%;
    height: 100px;    
    background-image:linear-gradient(#039, #0014ff);

}

.logo{
    color: #81d4fa;
    font-size: 60px;
    margin: 20px 10px;    
    padding: 10px 5px;
    font-weight: bolder;
    font-family: 'Pacifico' ; 
    cursor: pointer;
}

.nav-links {
    float: right;
         
}

ul, li ,a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px;
    color: #81d4fa;
    font-size: 20px;
    font-weight: bold;
        
    
}

a{
    border-top: 3px solid #09c;
    border-radius: 25px;
}

a:hover{
    border-bottom: 3px solid #09c;
}

/*container for the body of the page*/
.mainbody-container {

    height: 100vh;
    background-color:#f1f1f1;
    display: flex;
    flex-direction: row;

}

.form-heading{
    text-align: center;
    padding-bottom: 30px;
}
.cont-labels{
    font-size: large;

}

input[type="text"],input[type="date"],input[type="number"],input[type="text"],select[id="laptopmodel"],select[id="campus"],select[id="faculty"],textarea[id="subject"]{
    border: 2px solid #09c;
    min-width: 80%;
    border-radius: 8px;
    padding: 8px;
}

input[type="radio"]{
    display: inline-block;
    
}

input[type="search"]{
    border: 1px solid red;
    padding: 8px;
    border-radius: 30px;
    min-width: 50%;
    
    
}

#formButtons{
    padding: 5px 15px;
    border-radius: 15px;
    margin-left: 10px;
    border: 5px solid #09c ;
          
}

#formButtons:hover{
    padding: 5px 20px;
    border-radius: 30px;
   
    border: 5px solid #09c ;

}



/*side navigation */
.sidenav-container{

    background-color: #f1f1f1;
    flex: 1;
    padding: 5px;

}
 .button-link {

    margin: 20px 0 0 30px;
    border: 5px solid #039;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #f1f1f1;
    display: list-item;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #039;

}

.button-link:hover{
    border: 5px solid #039;
    background-color: #f1f1f1;
    color: #039;
    box-shadow: 10px 0px 15px 5px rgb(87, 240, 219), -10px 0px 15px 5px  rgb(87, 240, 219);
}
/*main content page*/
main{

    background-color: #f1f1f1;
    flex: 6;
    padding: 30px;
    border-radius: 25px;
    margin: 30px 40px 15px 40px;
    box-shadow: 10px 0px 15px 5px rgba(0, 0, 0, 0.3), -10px 0px 15px 5px rgba(0, 0, 0, 0.3);
    
    overflow: auto;

}

.row{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
 .col-25{
     flex: 2;

 }
 .col-75{
     flex: 4;

 }

/*footer section*/
.footer-section {
    position: static;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin-top: 0px;

    color: azure;

    background-image:linear-gradient(#0014ff,#039 );

}

.index-image{

    background-image: url("/images/MotherBoard.jpg");
    background-repeat: no-repeat;
    background-attachment: cover;
    background-position: center;

}
